<nav class="navbar">
    <div class="container">
        <a href="{{ site.baseurl }}/" class="logo">
            <i class="fas fa-book-open"></i> {{ site.title }}
        </a>
        <ul class="nav-menu">
            <li><a href="{{ site.baseurl }}/">Ana Sayfa</a></li>
            <li><a href="{{ site.baseurl }}/arsiv/">Arşiv</a></li>
            <li><a href="{{ site.baseurl }}/kategoriler/">Kategoriler</a></li>
            <li><a href="{{ site.baseurl }}/etiketler/">Etiketler</a></li>
            <li><a href="{{ site.baseurl }}/hakkimda">Hakkımda</a></li>
        </ul>
        <div class="search-box">
            <input type="text" placeholder="Notlarda Ara...">
            <i class="fas fa-search"></i>
        </div>
    </div>
</nav>