<!DOCTYPE html>
<html lang="tr">
    <head>
        {% include head.html %}
    </head>
    <body>

        {% include header.html %}

        <main>
            {{ content }}
        </main>

        {% include footer.html %}
        <script src="{{ '/assets/js/copy-code.js' | relative_url }}"></script>
        <script src="{{ '/assets/js/toc-builder.js' | relative_url }}"></script>
        <script src="{{ '/assets/js/hamburger.js' | relative_url }}"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/js/lightbox.min.js"></script>
        <script>
            lightbox.option({
                'resizeDuration': 300,
                'fadeDuration': 300,
                'imageFadeDuration': 300,
                'wrapAround': true, // Galerinin sonuna gelince başa döner
                'albumLabel': "%1 / %2" // "Image 1 of 5" yerine "1 / 5" yazar
            })
        </script>
    </body>
</html>